<link rel="stylesheet" href="~/css/nasCSS.css" />

@using Microsoft.AspNetCore.Identity
@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager
@{
    ViewData["Title"] = "Nekretnine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model dynamic

<div class="tab">
    <ul class="nav nav-tabs">
        <li class="active"><button type="button" class="tablinks" data-toggle="tab" href="#kuca">Kuće</button></li>
        <li><button type="button" class="tablinks" data-toggle="tab" href="#stan">Stanovi</button></li>
        <li><button type="button" class="tablinks" data-toggle="tab" href="#vikendica">Vikendice</button></li>
        <li><button type="button" class="tablinks" data-toggle="tab" href="#zemljiste">Zemljišta</button></li>
    </ul>
</div>


<div class="tab-content">
    <div id="kuca" class="tab-pane fade">
        <table class="table">
            <tr>
                <th>Naziv</th>
                <th>Cijena</th>
                <th></th>
            </tr>
            @foreach (Kuca kuca in Model.kuce)
            {
        <tr>
            <td>@kuca.Naziv</td>
            <td>@kuca.Cijena</td>
            <td>
                <a asp-controller="Kuca" asp-action="Details" asp-route-id="@kuca.Id">Pogledaj detalje</a>
            </td>
        </tr>
            }
        </table>
    </div>
    
    <div id="stan" class="tab-pane fade">
        <table class="table">
            <tr>
                <th>Naziv</th>
                <th>Cijena</th>
                <th></th>
            </tr>
            @foreach (Stan stan in Model.stanovi)
            {
                <tr>
                    <td>@stan.Naziv</td>
                    <td>@stan.Cijena</td>
                    <td>
                        <a asp-controller="Stan" asp-action="Details" asp-route-id="@stan.Id">Pogledaj detalje</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    
    <div id="vikendica" class="tab-pane fade">
        <table class="table">
            <tr>
                <th>Naziv</th>
                <th>Cijena</th>
                <th></th>
            </tr>
            @foreach (Vikendica vikendica in Model.vikendice)
            {
                <tr>
                    <td>@vikendica.Naziv</td>
                    <td>@vikendica.Cijena</td>
                    <td>
                        <a asp-controller="Vikendica" asp-action="Details" asp-route-id="@vikendica.Id">Pogledaj detalje</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    
    <div id="zemljiste" class="tab-pane fade">
        <table class="table">
            <tr>
                <th>Naziv</th>
                <th>Cijena</th>
                <th></th>
            </tr>
            @foreach (Zemljiste zemljiste in Model.zemljista)
            {
                <tr>
                    <td>@zemljiste.Naziv</td>
                    <td>@zemljiste.Cijena</td>
                    <td>
                        <a asp-controller="Zemljiste" asp-action="Details" asp-route-id="@zemljiste.Id">Pogledaj detalje</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
