@page
@model RegisterModel
@{
    ViewData["Title"] = "Registruj se ";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Kreiraj novi korisnički račun.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Ime"></label>
                <input asp-for="Input.Ime" class="form-control" />
                <span asp-validation-for="Input.Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Prezime"></label>
                <input asp-for="Input.Prezime" class="form-control" />
                <span asp-validation-for="Input.Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PostanskiBroj"></label>
                <input asp-for="Input.PostanskiBroj" class="form-control" />
                <span asp-validation-for="Input.PostanskiBroj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Kanton"></label>
                <input asp-for="Input.Kanton" class="form-control" />
                <span asp-validation-for="Input.Kanton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.BrojTelefona"></label>
                <input asp-for="Input.BrojTelefona" class="form-control" />
                <span asp-validation-for="Input.BrojTelefona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Adresa"></label>
                <input asp-for="Input.Adresa" class="form-control" />
                <span asp-validation-for="Input.Adresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registruje se</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                         eSTATE® registracija <br />
                        Registracija eSTATE® korisničkog računa je BESPLATNA i <br>
                        omogućava Vam bržu i jednostavniju komunikaciju sa <br> 
                        nama, e mail obavijesti o novim nekretninama koje <br>
                        odgovaraju Vašim zahtjevima, kao i pregled novih <br>
                        nekretnina 12 sati prije ostalih posjetioca.
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
